.c_div {
  background-color: orange;
  flex: 2;
  border-radius: 30px 2px;
  border-bottom-right-radius: 2000px;
  margin: 30px 10%;
  padding: 10% 30px;
  gap: 30px;
  transform-origin: right 30px;
}