.animation {
  animation: anime1 1s ease-in-out 3s infinite;
}

@keyframes anime1 {
  0% {
    width: 10px;
  }
  75% {
    width: 75px;
    opacity: 0;
  }
  100% {
    height: 100px;
    opacity: 1;
  }
}

.aspect_ratio {
  aspect-ratio: 2 / 1;
}

.background {
  background: url('https://www.google.com');
}

.background_image {
  background-image: url('https://www.google.com');
}

.background_image1 {
  background-image: linear-gradient(45deg, #000, #fff);
}

.background_image2 {
  background-image: radial-gradient(circle, #000, #fff);
}

.background_size {
  background-size: cover;
}

.background_position {
  background-position: center;
}

.background_repeat {
  background-repeat: no-repeat;
}

.background_color {
  background-color: #000;
}

.border_color {
  border-color: #000;
}

.border_radius {
  border-radius: 10px;
}

.border_style {
  border-style: solid;
}

.border_width {
  border-width: 1px;
}

.box_shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.color {
  color: rgba(0, 0, 0, 0.5);
}

.display {
  display: block;
}

.flex_align {
  justify-content: center;
  align-content: end;
}

.flex_basis {
  flex-basis: 100px;
}

.flex_direction {
  flex-direction: row;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex {
  flex: 1;
}

.font_size {
  font-size: 16px;
}

.font_weight {
  font-weight: bold;
}

.font_style {
  font-style: italic;
}

.gap {
  gap: 10px;
}

.item_align {
  align-items: center;
  align-self: baseline;
}

.length_value {
  margin: 10px;
  padding: 10px;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px
}

.letter_spacing {
  letter-spacing: 1px;
}

.line_height {
  line-height: 15px;
}

.max_size {
  max-width: 30px;
  max-height: 30px;
}

.number {
  flex-shrink: 2;
  flex-grow: 3;
}

.overflow {
  overflow: hidden;
}

.position {
  position: absolute;
}

.size {
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
}

.text_align {
  text-align: center;
}

.text_decoration {
  text-decoration: underline;
}

.text_transform {
  text-transform: uppercase;
}

.text_overflow {
  text-overflow: ellipsis;
}

.text_shadow {
  text-shadow: 1px 1px 1px #000;
}

.transform {
  transform: translate(30px, 20px) rotate(45deg) scale(2);
}

.transform_origin {
  transform-origin: center;
}

.vertical_align {
  vertical-align: middle;
}

.visibility {
  visibility: hidden;
}

.z_index {
  z-index: 10;
}