.hello {
    height: 100px;
    width: 50%;
    flex-direction: column;
    flex-grow: 1;
    color: #00f;
}

.child {
    background-size: contain;
    background-image: linear-gradient(to bottom, #f00, #00f 10%, #0f0);
}

@media screen and (max-width: 100px) {
    .hello {
        height: 200px;
        width: 100%;
        color: #f00;
        background-image: radial-gradient(circle, #f00, #00f 10%, #0f0);
    }
}